In [1]:
import pandas as pd
import re

In [26]:
ext_data = '../data/external/'
raw_data = '../data/raw/'

In [3]:
sales_df = pd.read_pickle(raw_data + 'sales_df.pkl')
sales_df.head()

,PIN,FOLIO,DOR_CODE,NBHC,S_DATE,VI,QU,REA_CD,S_AMT,SUB,STR,S_TYPE,OR_BK,OR_PG,GRANTOR,GRANTEE,DOC_NUM
0,A-23-33-15-ZZZ-000000-00040.0,0000050000,8600,227002.0,1928-03-01,V,U,38,100.0,ZZZ,233315,QC,00810,0435,,HILLSBOROUGH COUNTY,
1,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,2019-09-16,V,U,11,100.0,001,012717,DD,26961,0622,SEVIGNY STEPHEN R TRUSTEE,SEVIGNY PAULINE L LIFE ESTATE,2019404632
2,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,2014-04-01,V,U,11,100.0,001,012717,TR,22504,1677,SEVIGNY STEPHEN R TRUSTEE,SEVIGNY STEPHEN R TRUSTEE,2014113139
3,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,2006-12-05,V,U,11,100.0,001,012717,WD,17411,0866,SEVIGNY STEPHEN R,SEVIGNY STEPHEN R TRUSTEE,2007055159
4,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,1988-10-01,V,U,38,28000.0,001,012717,WD,05528,1424,,,88224230

In [4]:
print(sales_df.shape)
print(sales_df.info())

(2166282, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166282 entries, 0 to 2166281
Data columns (total 17 columns):
 #   Column    Dtype
---  ------    -----
 0   PIN       object
 1   FOLIO     object
 2   DOR_CODE  object
 3   NBHC      float64
 4   S_DATE    object
 5   VI        object
 6   QU        object
 7   REA_CD    object
 8   S_AMT     float64
 9   SUB       object
 10  STR       object
 11  S_TYPE    object
 12  OR_BK     object
 13  OR_PG     object
 14  GRANTOR   object
 15  GRANTEE   object
 16  DOC_NUM   object
dtypes: float64(2), object(15)
memory usage: 281.0+ MB
None

In [5]:
sales_df[sales_df['DOC_NUM'] == '2018356883'].T

                                 964451
PIN       U-10-29-20-29R-000001-00008.0
FOLIO                        0662680766
DOR_CODE                           0100
NBHC                           220009.0
S_DATE                       2018-08-28
VI                                    I
QU                                    Q
REA_CD                               02
S_AMT                          305000.0
SUB                                 29R
STR                              102920
S_TYPE                               WD
OR_BK                             26038
OR_PG                              1638
GRANTOR                  TROXEL KEITH W
GRANTEE                  WARD MICHAEL P
DOC_NUM                      2018356883

The PIN number is the parcel identifier and is formatted as follows.

Example PIN: A-16-28-19-3A3-000034-00004.0

A 16 28 19 3A3 000034 00004.0 (Municipality) (Section) (Township) (Range) (Land Type-ID) (Block# ) (Lot#)

The MUNICIPALITY CODE indicates whether the property is located in a city or unincorporated county. The code for the City of Tampa is "A", for the City of Temple Terrace "T" and for the City of Plant City "P". All unincorporated county is coded with "U".

The SECTION-TOWNSHIP-RANGE

The Land Type-ID is to further identify the type of land. All platted Subdivisions and Condominiums have been assigned an ID number. This number may be a combination of numbers and letters, such as "3A3". Not all property in the county is platted. For all unplatted, metes and bounds described lands a Land Type-ID of "ZZZ" has been assigned. This way, one look at the PIN number can tell you whether it is platted or unplatted land.

The BLOCK# is 6 digits and will hold the Block Number in platted Subdivisions or Building Number in a Condominium. For unplatted land having a Land Type-ID of "ZZZ" the BLOCK# will carry a uniquely assigned number.

The LOT# is 6 digits and will hold the Lot Numbers in Platted Subdivisions or Unit Numbers in a Condominium. For all unplatted land having a Land Type-ID of "ZZZ" the LOT# will carry a uniquely assigned number.

In [6]:
print(sales_df['PIN'].describe())

count                           2166282
unique                           504015
top       U-36-27-18-ZZZ-000000-75670.1
freq                                 91
Name: PIN, dtype: object

In [7]:
# Validate all PIN's match format (i.e. 'A-16-28-19-3A3-000034-00004.0')
pin = sales_df['PIN'].str.match("^[A-Z]-\d{2}-\d{2}-\d{2}-[A-Z0-9]{3}-[A-Z0-9]{6}-[A-Z0-9]{5}\.[A-Z0-9]$")
assert sales_df[~pin].shape[0] == 0

In [8]:
# Split PIN into the seven data elements that are used to create the PIN
sales_df[['MUNICIPALITY_CD', 'SECTION_CD', 'TOWNSHIP_CD', 'RANGE_CD', 'LAND_TYPE_ID', 'BLOCK_NUM', 'LOT_NUM']] = sales_df['PIN'].str.split('-', expand=True)
sales_df.head()

,PIN,FOLIO,DOR_CODE,NBHC,S_DATE,VI,QU,REA_CD,S_AMT,SUB,...,GRANTOR,GRANTEE,DOC_NUM,MUNICIPALITY_CD,SECTION_CD,TOWNSHIP_CD,RANGE_CD,LAND_TYPE_ID,BLOCK_NUM,LOT_NUM
0,A-23-33-15-ZZZ-000000-00040.0,0000050000,8600,227002.0,1928-03-01,V,U,38,100.0,ZZZ,...,,HILLSBOROUGH COUNTY,,A,23,33,15,ZZZ,000000,00040.0
1,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,2019-09-16,V,U,11,100.0,001,...,SEVIGNY STEPHEN R TRUSTEE,SEVIGNY PAULINE L LIFE ESTATE,2019404632,U,01,27,17,001,000000,00001.0
2,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,2014-04-01,V,U,11,100.0,001,...,SEVIGNY STEPHEN R TRUSTEE,SEVIGNY STEPHEN R TRUSTEE,2014113139,U,01,27,17,001,000000,00001.0
3,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,2006-12-05,V,U,11,100.0,001,...,SEVIGNY STEPHEN R,SEVIGNY STEPHEN R TRUSTEE,2007055159,U,01,27,17,001,000000,00001.0
4,U-01-27-17-001-000000-00001.0,0000080000,0000,211007.0,1988-10-01,V,U,38,28000.0,001,...,,,88224230,U,01,27,17,001,000000,00001.0

In [9]:
print(sales_df['FOLIO'].describe())

count        2166282
unique        504015
top       0170630100
freq              91
Name: FOLIO, dtype: object

In [20]:
# FOLIO and PIN (Property Identification Number) are both unique values that describe the properties
# Drop PIN as the values have already been segregated into the 7 data elements that make up the PIN
sales_df.drop('PIN', axis=1, inplace=True)

There are almost 300 Department of Revenue (DOR) codes which represent the type of property.  The types of properties include single family homes, condos, malls, night clubs, vacant land, etc.  The DOR code is indicated in the DOR_CODE field in the sales data.  

The residential property types that will be used for this analysis include:
- 0100: Single Family Residential
- 0102: Single family home built around a mobile home
- 0106: Townhouse/Villa
- 0200: Mobile Home
- 0400: Condominium
- 0408: Mobile Home Condominium
- 0800: Multi-Family Residential (Duplex, Triplex, Quadplex, etc.) < 10 units
- 0801: Multi-Family Residential (units individually owned)
- 0802: Multi-Family Residential (units rentals)

In [28]:
# read external list of DOR codes
dor_code_df = pd.read_excel(open(ext_data + '_DOR_CODE_LIST.xlsx','rb'), sheet_name='parcel_dor_names')
dor_code_df.head()

  DORCODE              DORDESCR
0    0000    VACANT RESIDENTIAL
1    0006       VACANT TOWNHOME
2    0008  VACANT MH/CONDO COOP
3    0029          PUBLIC LANDS
4    0040          VACANT CONDO

In [30]:
dor_code_df.describe()

       DORCODE            DORDESCR
count      288                 288
unique     288                 288
top       0000  VACANT RESIDENTIAL
freq         1                   1

In [23]:
print(sales_df['DOR_CODE'].describe())

count     2166282
unique        271
top          0100
freq      1498257
Name: DOR_CODE, dtype: object

In [41]:
# Query any DOR codes in sales data that do not exist in the DOR code list
sales_dor = sales_df.merge(dor_code_df, left_on='DOR_CODE', right_on='DORCODE', how='left', indicator=True)
dor_list = sales_dor.loc[sales_dor['_merge'] == 'left_only', 'DOR_CODE']
invalid_dor_codes = sales_df[sales_df['DOR_CODE'].isin(dor_list)]
invalid_dor_codes['DOR_CODE'].sort_values().unique()

array(['', '1050', '1421', '1422', '1423', '1750', '1751', '1851', '1950',
       '1951', '4801', '4802', '4803', '4804', '7150', '7301', '7501',
       '7550', '9929'], dtype=object)

In [43]:
# Analyze missing DOR codes
invalid_dor_codes[invalid_dor_codes['DOR_CODE'] == ''].T

,1268829,1275391,1275392,1476495,1476496,1476497,1476498,1476499,1502446,1625050,1625051,1625052,1625053,1625054,1625055,1975518,1975519,1975520
FOLIO,0776879636,0776941626,0776941626,0880784054,0880784054,0880784054,0880784054,0880784054,0883960240,1108760200,1108760200,1108760200,1108760200,1108760200,1108760200,1737410000,1737410000,1737410000
DOR_CODE,,,,,,,,,,,,,,,,,,
NBHC,226013.0,226014.0,226014.0,225001.0,225001.0,225001.0,225001.0,225001.0,229003.0,204003.0,204003.0,204003.0,204003.0,204003.0,204003.0,205004.0,205004.0,205004.0
S_DATE,2013-10-11,2020-06-09,2010-04-06,2020-10-22,2020-10-05,2020-06-26,2019-11-22,2007-05-24,2016-01-04,2020-12-30,2016-02-04,2016-02-04,2014-04-01,2013-11-19,1999-05-01,2021-11-04,1999-09-01,1999-05-01
VI,V,V,I,V,V,I,V,V,V,V,V,V,V,V,V,V,I,V
QU,U,U,U,Q,U,Q,U,U,U,U,U,U,U,U,U,U,U,U
REA_CD,3C,37,3C,01,11,01,05,3C,3C,37,11,11,11,11,05,17,01,38
S_AMT,6150000.0,8213300.0,14750000.0,274000.0,100.0,951000.0,440000.0,100.0,525000.0,150000.0,100.0,100.0,100.0,100.0,34000.0,20000.0,100.0,100.0
SUB,B3G,C12,C12,9XL,9XL,9XL,9XL,9XL,B0E,3JD,3JD,3JD,3JD,3JD,3JD,4N5,4N5,4N5
STR,103120,123120,123120,203021,203021,203021,203021,203021,313021,152918,152918,152918,152918,152918,152918,082919,082919,082919
S_TYPE,WD,WD,WD,WD,QC,WD,WD,WD,WD,WD,QC,QC,QC,QC,WD,QC,QC,TD
OR_BK,22212,00000,19815,00000,00000,00000,27137,18406,23786,00000,23904,23904,22532,22276,09656,00000,09874,09624
OR_PG,1043,0000,0632,0000,0000,0000,0477,1969,0705,0000,1995,1993,0215,0274,1215,0000,1454,1068
GRANTOR,SCHIRO VILOT P TRUSTEE,TC VENTURE 1 LLC,RC PROPERTIES VIII LLC,SIERRRA BUILDING CO,MIELKE DAVID A,SIERRA BUILDING CO,NNP IV-LAKE HUTTO LLC,PULTE HOME CORPORATION,DOMRES MARTY,GARCIA JOHN,NC DADE ASSETS INC,NC DADE ASSETS INC,GARCIA 1/2 PROPERTIES LLC,GARCIA JOHN,,CITY OF TAMPA,HILLSBOROUGH,
GRANTEE,BEAZER HOMES CORP,LENNAR HOMES LLC,TC VENTURE 1 LLC,DAVI LUCIANO,SIERRRA BUILDING CO,MIELKE DAVID A,SIERRA BUILDING CO,NNP IV-LAKE HUTTO LLC,TRANSCEND DEVELOPMENT CORP,QUALITY PLUMBING AND CONSTRUCTION LLC,GARCIA JOHN,GARCIA JOHN,NC DADE ASSETS INC,GARCIA 1/2 PROPERTIES LLC,,HABITAT FOR HUMANITY OF FLORIDA INC,CITY OF TAMPA,
DOC_NUM,2013397962,2020233753,2010122005,2020458162,2020424501,2020272646,2019507740,2008034685,2016001713,2021008668,2016078199,2016078198,2014133818,2013442064,99165258,2021646051,99320741,99142560
MUNICIPALITY_CD,U,U,U,U,U,U,U,U,U,A,A,A,A,A,A,A,A,A
SECTION_CD,10,12,12,20,20,20,20,20,31,15,15,15,15,15,15,08,08,08
TOWNSHIP_CD,31,31,31,30,30,30,30,30,30,29,29,29,29,29,29,29,29,29
RANGE_CD,20,20,20,21,21,21,21,21,21,18,18,18,18,18,18,19,19,19
LAND_TYPE_ID,B3G,C12,C12,9XL,9XL,9XL,9XL,9XL,B0E,3JD,3JD,3JD,3JD,3JD,3JD,4N5,4N5,4N5
BLOCK_NUM,000008,000000,000000,000005,000005,000005,000005,000005,000000,000035,000035,000035,000035,000035,000035,C00000,C00000,C00000
LOT_NUM,00003.0,00013.0,00013.0,00021.0,00021.0,00021.0,00021.0,00021.0,00015.0,00035.0,00035.0,00035.0,00035.0,00035.0,00035.0,00006.0,00006.0,00006.0

In [11]:
parcel_df = pd.read_pickle(raw_data + 'parcel_df.pkl')
parcel_df.head()

,FOLIO,TYPE,Edit_dt,PIN,DOR_C,OWNER,ADDR_1,ADDR_2,CITY,STATE,...,MUNI,SD1,SD2,TIF,BASE,S_DATE,VI,S_AMT,ACREAGE,NBHC
0,0000010000,,2019-04-08,A-23-33-15-ZZZ-000000-00020.0,8800,UNITED STATES,EGMONT KEY STATE PARK,4905 34TH ST S PMB 5000,SAINT PETERSBURG,FL,...,A,,,,0,None,,0.0,313.01100,227002.0
1,0000050000,,2019-04-08,A-23-33-15-ZZZ-000000-00040.0,8600,HILLSBOROUGH COUNTY,REAL ESTATE DEPT,PO BOX 1110,TAMPA,FL,...,A,,,,0,None,,0.0,6.14792,227002.0
2,0000080000,,2019-04-09,U-01-27-17-001-000000-00001.0,0000,PAULINE L SEVIGNY/ LIFE ESTATE,19931 ANGEL LN,,ODESSA,FL,...,U,,,,0,None,,0.0,4.71341,211007.0
3,0000080100,,2019-04-09,U-01-27-17-001-000000-00001.1,0100,JEFFERY AND PATRICIA SEVIGNY,19859 ANGEL LN,,ODESSA,FL,...,U,,,,2016,1987-08-01,I,50000.0,5.05878,211007.0
4,0000090000,,2019-04-09,U-01-27-17-001-000000-00002.0,0100,MARIETTA SHIVER LIFE ESTATE,19901 ANGEL LN,,ODESSA,FL,...,U,,,,1994,None,,0.0,1.00059,211007.0

In [12]:
print(parcel_df.shape)
print(parcel_df.info())

(512207, 47)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512207 entries, 0 to 512206
Data columns (total 47 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   FOLIO      512207 non-null  object
 1   TYPE       512207 non-null  object
 2   Edit_dt    512207 non-null  object
 3   PIN        512207 non-null  object
 4   DOR_C      512207 non-null  object
 5   OWNER      512207 non-null  object
 6   ADDR_1     512207 non-null  object
 7   ADDR_2     512207 non-null  object
 8   CITY       512207 non-null  object
 9   STATE      512207 non-null  object
 10  ZIP        512207 non-null  object
 11  COUNTRY    512207 non-null  object
 12  SUB        512207 non-null  object
 13  SITE_ADDR  512207 non-null  object
 14  SITE_CITY  512207 non-null  object
 15  SITE_ZIP   512207 non-null  object
 16  LEGAL1     512207 non-null  object
 17  LEGAL2     512207 non-null  object
 18  LEGAL3     512207 non-null  object
 19  LEGAL4     512207 non-null  object
 20  DBA        512207 non-null  object
 21  STRAP      512207 non-null  object
 22  tBEDS      512207 non-null  float64
 23  tBATHS     512207 non-null  float64
 24  tSTORIES   512207 non-null  float64
 25  tUNITS     512207 non-null  float64
 26  tBLDGS     512207 non-null  float64
 27  TAXDIST    512207 non-null  object
 28  JUST       512207 non-null  float64
 29  LAND       512207 non-null  float64
 30  BLDG       512207 non-null  float64
 31  EXF        512207 non-null  float64
 32  ACT        512207 non-null  int64
 33  EFF        512207 non-null  int64
 34  HEAT_AR    512207 non-null  float64
 35  ASD_VAL    512207 non-null  float64
 36  TAX_VAL    512207 non-null  float64
 37  MUNI       512207 non-null  object
 38  SD1        512207 non-null  object
 39  SD2        512207 non-null  object
 40  TIF        512207 non-null  object
 41  BASE       512207 non-null  int64
 42  S_DATE     424427 non-null  object
 43  VI         512207 non-null  object
 44  S_AMT      512207 non-null  float64
 45  ACREAGE    512207 non-null  float64
 46  NBHC       512207 non-null  float64
dtypes: float64(15), int64(3), object(29)
memory usage: 183.7+ MB
None

In [13]:
parcel_df[parcel_df['FOLIO'] == '0662680766'].T

                                  228527
FOLIO                         0662680766
TYPE
Edit_dt                       2019-03-20
PIN        U-10-29-20-29R-000001-00008.0
DOR_C                               0100
OWNER         MICHAEL P AND KERRY R WARD
ADDR_1                 861 BAYOU VIEW DR
ADDR_2
CITY                             BRANDON
STATE                                 FL
ZIP                           33510-2092
COUNTRY
SUB                                  29R
SITE_ADDR              861 BAYOU VIEW DR
SITE_CITY                        BRANDON
SITE_ZIP                           33510
LEGAL1        LAKEVIEW VILLAGE SECTION F
LEGAL2                     LOT 8 BLOCK 1
LEGAL3
LEGAL4
DBA
STRAP             20291029R000001000080U
tBEDS                                3.0
tBATHS                               2.0
tSTORIES                             1.0
tUNITS                               1.0
tBLDGS                               1.0
TAXDIST                                U
JUST                            320408.0
LAND                             78750.0
BLDG                            206846.0
EXF                              34812.0
ACT                                 2000
EFF                                 2010
HEAT_AR                           1849.0
ASD_VAL                         233853.0
TAX_VAL                         183853.0
MUNI                                   U
SD1
SD2
TIF
BASE                                2019
S_DATE                        2018-08-28
VI                                     I
S_AMT                           305000.0
ACREAGE                         0.289255
NBHC                            220009.0

In [14]:
print(parcel_df['FOLIO'].describe())

count         512207
unique        512207
top       0000010000
freq               1
Name: FOLIO, dtype: object

In [15]:
print(parcel_df['PIN'].describe())

count     512207
unique    512180
top
freq          28
Name: PIN, dtype: object

In [18]:
# Find duplicate PINs
dup_pins = parcel_df.duplicated('PIN', keep=False)

# Sort duplicate PIN parcels
dup_pin_parcel = parcel_df[dup_pins].sort_values('PIN')

# Print duplicate pin parcels
print(dup_pin_parcel[['TYPE', 'FOLIO', 'PIN', 'DOR_C', 'OWNER', 'SITE_ADDR', 'S_DATE', 'S_AMT']])

         TYPE       FOLIO PIN DOR_C OWNER SITE_ADDR S_DATE  S_AMT
5000    dummy                                         None    0.0
485096         1871260000                             None    0.0
480095         1833410172                             None    0.0
460091         1610141055                             None    0.0
455090          159410005                             None    0.0
455089         1582330011                             None    0.0
450089         1541000011                             None    0.0
425084         1319290100                             None    0.0
395078         1089801320                             None    0.0
385076         1010782000                             None    0.0
385075         1006746020                             None    0.0
385074         1004565050                             None    0.0
385073         1004565040                             None    0.0
385072         1004565030                             None    0.0
385071         1004565020                             None    0.0
305060         0776869890                             None    0.0
150029         04751/1724                             None    0.0
150028         04751/1638                             None    0.0
150027         0474155000                             None    0.0
110021          032530100                             None    0.0
110020         0317800000                             None    0.0
70013          0163411000                             None    0.0
55010          0136280001                             None    0.0
50009          0120480000                             None    0.0
50008          0112850052                             None    0.0
45008          0065545320                             None    0.0
495098         1992942914                             None    0.0
512206                NEW                             None    0.0

In [19]:
parcel_df[parcel_df['FOLIO'] == '1871260000'].T

               485096
FOLIO      1871260000
TYPE
Edit_dt    2019-04-23
PIN
DOR_C
OWNER
ADDR_1
ADDR_2
CITY
STATE
ZIP
COUNTRY
SUB
SITE_ADDR
SITE_CITY
SITE_ZIP
LEGAL1
LEGAL2
LEGAL3
LEGAL4
DBA
STRAP
tBEDS             0.0
tBATHS            0.0
tSTORIES          0.0
tUNITS            0.0
tBLDGS            0.0
TAXDIST
JUST              0.0
LAND              0.0
BLDG              0.0
EXF               0.0
ACT                 0
EFF                 0
HEAT_AR           0.0
ASD_VAL           0.0
TAX_VAL           0.0
MUNI
SD1
SD2
TIF
BASE                0
S_DATE           None
VI
S_AMT             0.0
ACREAGE       0.05463
NBHC              0.0

STRAP AND PIN NUMBERS ARE CREATED FROM THE SAME CONCATENATED VALUES.
The PIN number is formatted from the STRAP field for legibility. This is the parcel identifier.

Example STRAP: 2819163A3000034000040A<br>
28 19 16 3A3 000034 000040 A (Township) (Range) (Section) (Land Type-ID) (Block#) (Lot#) (Municipality)

Example PIN: A-16-28-19-3A3-000034-00004.0<br>
A 16 28 19 3A3 000034 00004.0 (Municipality) (Section) (Township) (Range) (Land Type-ID) (Block# ) (Lot#)