# Tampa Real-Estate Recommender
## Feature Engineering
TB Real Estate Corporation is a real estate investment firm in the Tampa Bay, Florida area.  The real estate market in the Tampa Bay area is very active.  Single family homes are selling quickly.  TB Real Estate Corporation needs to be able to assess the value of homes coming onto the market quickly and accurately so that they can beat the competition in making a competitive offer.   They need to be able to evaluate the listing price against the predicted sale price in order to identify properties that may be priced below market value and would make good investments.  
<br>
The objective of the Feature Engineering is to prepare the features and to build training and testing datasets to optimally support the machine learning models in order to predict the sales price for residential properties.

# 1 Imports and File Locations<a id='1'></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import category_encoders as ce

In [2]:
ext_data = '../data/external/'
raw_data = '../data/raw/'
interim_data = '../data/interim/'
report_figures = '../reports/figures/'

# 2 Read Sales data into dataframe<a id='2'></a>

In [3]:
df = pd.read_csv(interim_data + 'sales_df.csv', dtype={'FOLIO': object, 'DOR_CODE': object, 'NBHC': object, 'SECTION_CD': object, 'TOWNSHIP_CD': object, 'RANGE_CD': object}, parse_dates=['S_DATE'])
df.info()

C:\Users\mkars\AppData\Local\Temp\ipykernel_23408\1819962950.py:1: DtypeWarning: Columns (26,27,28,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(interim_data + 'sales_df.csv', dtype={'FOLIO': object, 'DOR_CODE': object, 'NBHC': object, 'SECTION_CD': object, 'TOWNSHIP_CD': object, 'RANGE_CD': object}, parse_dates=['S_DATE'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847102 entries, 0 to 847101
Data columns (total 39 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   FOLIO            847102 non-null  object
 1   DOR_CODE         847102 non-null  object
 2   S_DATE           847102 non-null  datetime64[ns]
 3   VI               847102 non-null  object
 4   QU               847102 non-null  object
 5   REA_CD           847102 non-null  object
 6   S_AMT            847102 non-null  float64
 7   S_TYPE           847102 non-null  object
 8   ORIG_SALES_DATE  847102 non-null  object
 9   SITE_ADDR        847013 non-null  object
 10  SITE_CITY        847095 non-null  object
 11  SITE_ZIP         847102 non-null  object
 12  tBEDS            847102 non-null  float64
 13  tBATHS           847102 non-null  float64
 14  tSTORIES         847102 non-null  float64
 15  tUNITS           847102 non-null  float64
 16  tBLDGS           847102 non-null  float64
 17  JUST             847102 non-null  float64
 18  LAND             847102 non-null  float64
 19  BLDG             847102 non-null  float64
 20  EXF              847102 non-null  float64
 21  ACT              847102 non-null  int64
 22  EFF              847102 non-null  int64
 23  HEAT_AR          847102 non-null  float64
 24  ASD_VAL          847102 non-null  float64
 25  TAX_VAL          847102 non-null  float64
 26  SD1              847102 non-null  object
 27  SD2              847102 non-null  object
 28  TIF              847102 non-null  object
 29  BASE             847102 non-null  int64
 30  ACREAGE          847102 non-null  float64
 31  NBHC             847102 non-null  object
 32  MUNICIPALITY_CD  847102 non-null  object
 33  SECTION_CD       847102 non-null  object
 34  TOWNSHIP_CD      847102 non-null  object
 35  RANGE_CD         847102 non-null  object
 36  LAND_TYPE_ID     847102 non-null  object
 37  BLOCK_NUM        847102 non-null  object
 38  LOT_NUM          847102 non-null  object
dtypes: datetime64[ns](1), float64(14), int64(3), object(21)
memory usage: 252.1+ MB

# 3 Feature Engineering<a id='3'></a>

In [4]:
# Replace DOR_CODE with boolean for Single Family House
df['single_family_house'] = np.where(df['DOR_CODE']=='0100',True,False)

In [5]:
# Replace S_DATE with integer sales date epoch
df['sales_date_epoch'] = (df['S_DATE'] - dt.datetime(1970,1,1)).dt.days

In [6]:
# Replace VI with boolean for Improved vs.Vacant
df['improved'] = np.where(df['VI']=='I',True,False)

In [7]:
# Calculate the age of the home in years
df['age_of_home'] = df['S_DATE'].dt.year - df['ACT']

In [8]:
# Extract 5-digit zip codes and mask any that had less than 1000 sales
df['zip5'] = df['SITE_ZIP'].astype(str).str[:5]
zip5 = df.zip5
zip_counts = df.zip5.value_counts()
mask = zip5.isin(zip_counts[zip_counts < 1000].index)
zip5[mask] = 'Other'

C:\Users\mkars\AppData\Local\Temp\ipykernel_23408\2755763794.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zip5[mask] = 'Other'

In [9]:
# Binary Encode zip5 values
ce_binary = ce.BinaryEncoder(cols = ['zip5'])
df = ce_binary.fit_transform(df)

C:\Users\mkars\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version. Use is_categorical_dtype instead.
  elif pd.api.types.is_categorical(cols):

In [10]:
df[[i for i in df.columns if i.startswith('zip5')]+['SITE_ZIP']].head()

   zip5_0  zip5_1  zip5_2  zip5_3  zip5_4  zip5_5  zip5_6 SITE_ZIP
0       0       0       0       0       0       0       1    33556
1       0       0       0       0       0       0       1    33556
2       0       0       0       0       0       0       1    33556
3       0       0       0       0       0       0       1    33556
4       0       0       0       0       0       0       1    33556

In [11]:
# Bin and One-Hot Encode number of bedrooms
bins = [-np.inf, 1.9, 2.9, 3.9, 4.9, 5.9, np.inf]
labels = ['<2', '2', '3', '4', '5', '>5']
df['bedrooms_binned'] = pd.cut(df['tBEDS'], bins=bins, labels=labels)
df = pd.get_dummies(df, columns=['bedrooms_binned'], drop_first=True, prefix='BED')

In [12]:
# Bin and One-Hot Encode number of bathrooms
bins = [-np.inf, 0.9, 1.4, 1.9, 2.4, 2.9, 3.4, 3.9, 4.4, 4.9, 5.4, np.inf]
labels = ['<1.0', '1.0', '1.5', '2.0', '2.5', '3.0', '3.5', '4.0', '4.5', '5.0', '>5.0']
df['bathrooms_binned'] = pd.cut(df['tBATHS'], bins=bins, labels=labels)
df = pd.get_dummies(df, columns=['bathrooms_binned'], drop_first=True, prefix='BATH')

In [13]:
# Replace tSTORIES with boolean for Single Story vs. Multiple Stories
df['single_story'] = np.where(df['tSTORIES']<2.0,True,False)

In [14]:
# Replace tUNITS with boolean for Single Unit vs. Multiple Units
df['single_unit'] = np.where(df['tUNITS']<2.0,True,False)

In [15]:
# Replace tBLDGS with boolean for Single Building vs. Multiple Buildings
df['single_buidling'] = np.where(df['tBLDGS']<2.0,True,False)

In [16]:
# Create Market Area and One-Hot Encode
df['MARKET_AREA_CD'] = df['NBHC'].astype(str).str[1:3]
df = pd.get_dummies(df, columns=['MARKET_AREA_CD'], drop_first=True, prefix='MKT')

In [17]:
# Binary Encode neighborhood code values
ce_binary = ce.BinaryEncoder(cols = ['NBHC'])
df = ce_binary.fit_transform(df)

C:\Users\mkars\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version. Use is_categorical_dtype instead.
  elif pd.api.types.is_categorical(cols):

In [18]:
# Convert Municipality Codes to Names and One-Hot Encode
df['MUNICIPALITY_CD'].replace({'A': 'Tampa', 'T': 'Temple Terrace', 'P': 'Plant City', 'U': 'Unincorporated'}, inplace=True)
df = pd.get_dummies(df, columns=['MUNICIPALITY_CD'], drop_first=True, prefix='CITY')

In [19]:
# Convert Township and Range Codes to single value
df['TOWNSHIP_RANGE'] = (df['RANGE_CD'].astype(int) - 16) + ((df['TOWNSHIP_CD'].astype(int) - 27)*6)

In [20]:
# Convert Section Codes to unique values across all Township/Ranges
df['SECTION_CD'] = df['SECTION_CD'] * df['TOWNSHIP_RANGE']

In [21]:
# One-Hot Encode Township - Range
df = pd.get_dummies(df, columns=['TOWNSHIP_RANGE'], drop_first=True, prefix='TR')

In [22]:
# Binary Encode Section Code values
ce_binary = ce.BinaryEncoder(cols = ['SECTION_CD'])
df = ce_binary.fit_transform(df)

C:\Users\mkars\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version. Use is_categorical_dtype instead.
  elif pd.api.types.is_categorical(cols):

In [23]:
# Create boolean for planned community (platted land) where Land Type ID is not 'ZZZ'
df['planned_community'] = np.where(df['LAND_TYPE_ID']!='ZZZ',True,False)

# 4 Create Training and Testing Datasets<a id='4'></a>

In [24]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847102 entries, 0 to 847101
Data columns (total 150 columns):
 #    Column               Dtype
---   ------               -----
 0    FOLIO                object
 1    DOR_CODE             object
 2    S_DATE               datetime64[ns]
 3    VI                   object
 4    QU                   object
 5    REA_CD               object
 6    S_AMT                float64
 7    S_TYPE               object
 8    ORIG_SALES_DATE      object
 9    SITE_ADDR            object
 10   SITE_CITY            object
 11   SITE_ZIP             object
 12   tBEDS                float64
 13   tBATHS               float64
 14   tSTORIES             float64
 15   tUNITS               float64
 16   tBLDGS               float64
 17   JUST                 float64
 18   LAND                 float64
 19   BLDG                 float64
 20   EXF                  float64
 21   ACT                  int64
 22   EFF                  int64
 23   HEAT_AR              float64
 24   ASD_VAL              float64
 25   TAX_VAL              float64
 26   SD1                  object
 27   SD2                  object
 28   TIF                  object
 29   BASE                 int64
 30   ACREAGE              float64
 31   NBHC_0               int64
 32   NBHC_1               int64
 33   NBHC_2               int64
 34   NBHC_3               int64
 35   NBHC_4               int64
 36   NBHC_5               int64
 37   NBHC_6               int64
 38   NBHC_7               int64
 39   NBHC_8               int64
 40   NBHC_9               int64
 41   SECTION_CD_0         int64
 42   SECTION_CD_1         int64
 43   SECTION_CD_2         int64
 44   SECTION_CD_3         int64
 45   SECTION_CD_4         int64
 46   SECTION_CD_5         int64
 47   SECTION_CD_6         int64
 48   SECTION_CD_7         int64
 49   SECTION_CD_8         int64
 50   SECTION_CD_9         int64
 51   SECTION_CD_10        int64
 52   TOWNSHIP_CD          object
 53   RANGE_CD             object
 54   LAND_TYPE_ID         object
 55   BLOCK_NUM            object
 56   LOT_NUM              object
 57   single_family_house  bool
 58   sales_date_epoch     int64
 59   improved             bool
 60   age_of_home          int64
 61   zip5_0               int64
 62   zip5_1               int64
 63   zip5_2               int64
 64   zip5_3               int64
 65   zip5_4               int64
 66   zip5_5               int64
 67   zip5_6               int64
 68   BED_2                uint8
 69   BED_3                uint8
 70   BED_4                uint8
 71   BED_5                uint8
 72   BED_>5               uint8
 73   BATH_1.0             uint8
 74   BATH_1.5             uint8
 75   BATH_2.0             uint8
 76   BATH_2.5             uint8
 77   BATH_3.0             uint8
 78   BATH_3.5             uint8
 79   BATH_4.0             uint8
 80   BATH_4.5             uint8
 81   BATH_5.0             uint8
 82   BATH_>5.0            uint8
 83   single_story         bool
 84   single_unit          bool
 85   single_buidling      bool
 86   MKT_02               uint8
 87   MKT_03               uint8
 88   MKT_04               uint8
 89   MKT_05               uint8
 90   MKT_06               uint8
 91   MKT_07               uint8
 92   MKT_08               uint8
 93   MKT_09               uint8
 94   MKT_10               uint8
 95   MKT_11               uint8
 96   MKT_12               uint8
 97   MKT_13               uint8
 98   MKT_14               uint8
 99   MKT_15               uint8
 100  MKT_16               uint8
 101  MKT_17               uint8
 102  MKT_18               uint8
 103  MKT_19               uint8
 104  MKT_20               uint8
 105  MKT_21               uint8
 106  MKT_22               uint8
 107  MKT_23               uint8
 108  MKT_24               uint8
 109  MKT_25               uint8
 110  MKT_26               uint8
 111  MKT_27               uint8
 112  MKT_28               uint8
 113  MKT_29               uint8
 114  CITY_Tampa           uint8
 115  CITY_Temple Terrace  uint8
 116  CITY_Unincorporated  uint8
 117  TR_2                 uint8
 118  TR_3                 uint8
 119  TR_4                 uint8
 120  TR_5                 uint8
 121  TR_6                 uint8
 122  TR_7                 uint8
 123  TR_8                 uint8
 124  TR_9                 uint8
 125  TR_10                uint8
 126  TR_11                uint8
 127  TR_12                uint8
 128  TR_13                uint8
 129  TR_14                uint8
 130  TR_15                uint8
 131  TR_16                uint8
 132  TR_17                uint8
 133  TR_18                uint8
 134  TR_20                uint8
 135  TR_21                uint8
 136  TR_22                uint8
 137  TR_23                uint8
 138  TR_24                uint8
 139  TR_26                uint8
 140  TR_27                uint8
 141  TR_28                uint8
 142  TR_29                uint8
 143  TR_30                uint8
 144  TR_32                uint8
 145  TR_33                uint8
 146  TR_34                uint8
 147  TR_35                uint8
 148  TR_36                uint8
 149  planned_community    bool
dtypes: bool(6), datetime64[ns](1), float64(14), int64(33), object(18), uint8(78)
memory usage: 494.4+ MB

In [25]:
y = df[['S_AMT']].copy()

In [27]:
drop_cols = ['S_AMT', 'FOLIO', 'DOR_CODE', 'S_DATE', 'VI', 'QU', 'REA_CD', 'S_TYPE', 'ORIG_SALES_DATE', 'SITE_ADDR', 
             'SITE_CITY', 'SITE_ZIP', 'tBEDS', 'tBATHS', 'tSTORIES', 'tUNITS', 'tBLDGS', 'ACT', 'EFF', 'SD1', 'SD2', 
             'TIF', 'BASE', 'TOWNSHIP_CD', 'RANGE_CD', 'LAND_TYPE_ID', 'BLOCK_NUM', 'LOT_NUM']
X = df.drop(drop_cols, axis=1)

In [28]:
X.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847102 entries, 0 to 847101
Data columns (total 122 columns):
 #    Column               Dtype
---   ------               -----
 0    JUST                 float64
 1    LAND                 float64
 2    BLDG                 float64
 3    EXF                  float64
 4    HEAT_AR              float64
 5    ASD_VAL              float64
 6    TAX_VAL              float64
 7    ACREAGE              float64
 8    NBHC_0               int64
 9    NBHC_1               int64
 10   NBHC_2               int64
 11   NBHC_3               int64
 12   NBHC_4               int64
 13   NBHC_5               int64
 14   NBHC_6               int64
 15   NBHC_7               int64
 16   NBHC_8               int64
 17   NBHC_9               int64
 18   SECTION_CD_0         int64
 19   SECTION_CD_1         int64
 20   SECTION_CD_2         int64
 21   SECTION_CD_3         int64
 22   SECTION_CD_4         int64
 23   SECTION_CD_5         int64
 24   SECTION_CD_6         int64
 25   SECTION_CD_7         int64
 26   SECTION_CD_8         int64
 27   SECTION_CD_9         int64
 28   SECTION_CD_10        int64
 29   single_family_house  bool
 30   sales_date_epoch     int64
 31   improved             bool
 32   age_of_home          int64
 33   zip5_0               int64
 34   zip5_1               int64
 35   zip5_2               int64
 36   zip5_3               int64
 37   zip5_4               int64
 38   zip5_5               int64
 39   zip5_6               int64
 40   BED_2                uint8
 41   BED_3                uint8
 42   BED_4                uint8
 43   BED_5                uint8
 44   BED_>5               uint8
 45   BATH_1.0             uint8
 46   BATH_1.5             uint8
 47   BATH_2.0             uint8
 48   BATH_2.5             uint8
 49   BATH_3.0             uint8
 50   BATH_3.5             uint8
 51   BATH_4.0             uint8
 52   BATH_4.5             uint8
 53   BATH_5.0             uint8
 54   BATH_>5.0            uint8
 55   single_story         bool
 56   single_unit          bool
 57   single_buidling      bool
 58   MKT_02               uint8
 59   MKT_03               uint8
 60   MKT_04               uint8
 61   MKT_05               uint8
 62   MKT_06               uint8
 63   MKT_07               uint8
 64   MKT_08               uint8
 65   MKT_09               uint8
 66   MKT_10               uint8
 67   MKT_11               uint8
 68   MKT_12               uint8
 69   MKT_13               uint8
 70   MKT_14               uint8
 71   MKT_15               uint8
 72   MKT_16               uint8
 73   MKT_17               uint8
 74   MKT_18               uint8
 75   MKT_19               uint8
 76   MKT_20               uint8
 77   MKT_21               uint8
 78   MKT_22               uint8
 79   MKT_23               uint8
 80   MKT_24               uint8
 81   MKT_25               uint8
 82   MKT_26               uint8
 83   MKT_27               uint8
 84   MKT_28               uint8
 85   MKT_29               uint8
 86   CITY_Tampa           uint8
 87   CITY_Temple Terrace  uint8
 88   CITY_Unincorporated  uint8
 89   TR_2                 uint8
 90   TR_3                 uint8
 91   TR_4                 uint8
 92   TR_5                 uint8
 93   TR_6                 uint8
 94   TR_7                 uint8
 95   TR_8                 uint8
 96   TR_9                 uint8
 97   TR_10                uint8
 98   TR_11                uint8
 99   TR_12                uint8
 100  TR_13                uint8
 101  TR_14                uint8
 102  TR_15                uint8
 103  TR_16                uint8
 104  TR_17                uint8
 105  TR_18                uint8
 106  TR_20                uint8
 107  TR_21                uint8
 108  TR_22                uint8
 109  TR_23                uint8
 110  TR_24                uint8
 111  TR_26                uint8
 112  TR_27                uint8
 113  TR_28                uint8
 114  TR_29                uint8
 115  TR_30                uint8
 116  TR_32                uint8
 117  TR_33                uint8
 118  TR_34                uint8
 119  TR_35                uint8
 120  TR_36                uint8
 121  planned_community    bool
dtypes: bool(6), float64(8), int64(30), uint8(78)
memory usage: 313.4 MB